
@model List<UserView>

@{
    ViewData["Title"] = "ผู้ใช้งานระบบ";

    string _UserTypeId = ViewBag.UserTypeId;

}
<link rel="stylesheet" href="~/assets/vendor/jquery-ui-1.12.1/jquery-ui.css" />


<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h2 class="mb-2"><i class="mdi mdi-account-settings-variant"></i> @ViewData["Title"]</h2>
        <div class="titles">
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="card-title mb-0">ผู้ใช้งาน</h4>
                        @if (_UserTypeId == "0")
                        {
                            <div class="btn-toolbar mb-0 d-none d-sm-block" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-3" role="group" aria-label="First group">
                                    <a href="/Membership/Register" class="btn btn-primary">
                                        <i class="mdi mdi-plus-circle"></i> เพิ่มผู้ใช้
                                    </a>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="table-responsive">
                        <div class="dataTables_wrapper">
                            <table id="grid" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th width="5%"></th>
                                        <th width="25%">อีเมล์</th>
                                        <th width="25%">หมายเลขโทรศัพท์</th>
                                        <th width="10%">สถานะ</th>
                                        <th width="15%">Super Admin?</th>
                                        <th width="20%">ประเภท</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="dropdown d-inline">
                                                    <button class="btn btn-primary icon-btn dropdown-toggle" type="button" id="ddl@(item.Id)"
                                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="mdi mdi-settings"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="ddl@(item.Id)">
                                                        <h6 class="dropdown-header">Actions:</h6>
                                                        <a class="dropdown-item" href="/Membership/ChangeProfile/@item.Id">แก้ไขข้อมูลส่วนตัว</a>
                                                        <a class="dropdown-item" href="/Membership/ChangePassword/@item.Id">เปลี่ยนรหัสผ่าน</a>

                                                        @if (_UserTypeId == "0")
                                                        {
                                                            <a class="dropdown-item" href="/Membership/ChangeRole/@item.Id">Change Role</a>
                                                            <a class="dropdown-item" onclick="deleteData('@item.Email','@item.Id');" title="คลิกเพื่อลบข้อมูล" href="javascript:void(0)">ลบข้อมูลผู้ใช้</a>



                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.Email</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>
                                                <label style="height:30px;font-size:small;" class="badge badge-@(item.EmailConfirmed ? "success" : "danger")">@(item.EmailConfirmed ? "Active" : "Pending")</label>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <label class="custom-checkbox variation3 mb-0">
                                                        <input class="form-check-input" type="checkbox" @(item.isSuperAdmin ? "checked" : "") onclick="return false;">
                                                        <i class="input-helper"></i>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>@item.Name</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </div>


    @*hidden field for storing current employeeId*@
    <input type="hidden" id="hiddenId" />
    <!-- ui-dialog -->
    <div id="dialog" title="ลบข้อมูล">
        <p id="txtDialog"></p>
    </div>

</div>
<!-- Content End -->

@section Styles{
    <!-- ================== BEGIN PAGE LEVEL CSS START ================== -->
    <link href="~/assets/vendor/data-table/css/jquery.dataTables.min.css" />
    <link href="~/assets/vendor/data-table/css/buttons.dataTables.min.css" />
    <link href="~/assets/vendor/data-table/css/dataTables.bootstrap.min.css" />
    <!-- ================== BEGIN PAGE LEVEL END ================== -->
}

@section Scripts{
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/assets/vendor/data-table/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/data-table/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor/data-table/js/buttons.flash.min.js"></script>
    <script src="~/assets/vendor/data-table/js/jszip.min.js"></script>
    <script src="~/assets/vendor/data-table/js/pdfmake.min.js"></script>
    <script src="~/assets/vendor/data-table/js/vfs_fonts.js"></script>
    <script src="~/assets/vendor/data-table/js/buttons.html5.min.js"></script>
    <script src="~/assets/vendor/data-table/js/buttons.print.min.js"></script>
    <script src="~/assets/vendor/data-table/js/dataTables.bootstrap.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script type="text/javascript">
        $(document).ready(function () {
            var mainTable;

            mainTable = $('#grid').DataTable({
                lengthChange: false,
                info: false,
                searching: true,
                dom: 'lrtip',
                scrollX: false,
                pageLength: 20,
                language: {
                    "emptyTable": "-ไม่มีข้อมูล-"//Change your default empty table message
                }
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })
        });
    </script>

    <script>

        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            resizable: false,
            width: 'auto',
            height: 'auto',
            fluid: true,
            show: {
                effect: "blind",
                duration: 500
            },
            hide: {
                effect: "explode",
                duration: 500
            },
            buttons: [
                {
                    text: "Ok",
                    click: function () {

                        $(this).dialog("close");
                        window.location.href = "/membership/DeleteUser/?id=" + document.getElementById("hiddenId").value;
                    }
                },
                {
                    text: "Cancel",
                    click: function () {
                        $(this).dialog("close");
                    }
                }

            ]
        }, "option", "position", { my: "center", at: "center", of: window }).prev(".ui-dialog-titlebar").css("background", "#269bff").css("color", "#ffffff");



        // Link to open the dialog
        $("#dialog-link").click(function (event) {
            $("#dialog").dialog("open");
            event.preventDefault();
        });

        // Hover states on the static widgets
        $("#dialog-link, #icons li").hover(
            function () {
                $(this).addClass("ui-state-hover");
            },
            function () {
                $(this).removeClass("ui-state-hover");
            }
        );


        function deleteData(short, id) {

            $("#hiddenId").val(id);
            document.getElementById("txtDialog").innerHTML = " คุณต้องการลบข้อมูล " + short + " ใช่หรือไม่ ?";
            $("#dialog").dialog("open");
            event.preventDefault();

        }
    </script>

}


