@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager
@inject vds.Data.ApplicationDbContext _context;
@{
    var email = "";
    var usertype = "";
    var username = "";
    var hospitalId = "";
    var hospitalName = "";
    var coordinatorId = "";
    var userid = "";
    var user1 = await _userManager.GetUserAsync(User);

    if (user1 != null)
    {
        email = user1.Email;
        username = user1.UserName;
        usertype = user1.UserTypeId;
        if (usertype == "1")
        {
            userid = _userManager.GetUserId(User);
            hospitalId = _context.Hospital.Where(x => x.CreatedById.Equals(userid)).Select(x => x.HospitalId).FirstOrDefault();
            hospitalName = _context.Hospital.Where(x => x.HospitalId.Equals(hospitalId)).Select(x => x.HospitalName).FirstOrDefault();
            coordinatorId = _context.Coordinator.Where(x => x.CreatedById.Equals(userid)).Select(x => x.CoordinatorId).FirstOrDefault();
        }

        TempData["userTypeId"] = usertype;
        TempData["hospitalId"] = hospitalId;
        TempData["hospitalName"] = hospitalName;
        TempData["coordinatorId"] = coordinatorId;

    }


}

<!-- Left Navigation Start -->
<aside class="main-header">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-heading">
                สวัสดี @email
            </li>


            <!--Todo-->
            @if (User.IsInRole(Pages.Todo.RoleName))
            {
                <li class="nav-item @Html.IsSelected(controller: Pages.Todo.ControllerName)Route">
                    <a class="nav-link waves-effect" title="@Pages.Todo.NavigationName" href="@Pages.Todo.UrlDefault?period=@(DateTime.Now.ToString("MM-yyyy", new System.Globalization.CultureInfo("en-US")))">
                        <i class="mdi mdi-calendar-multiple-check md-24 mr-2"></i>
                        <span class="menu-title">@Pages.Todo.NavigationName</span>
                    </a>
                </li>

            }

            <!-- Job  -->
            @if (User.IsInRole(Pages.Job.RoleName))
            {


                <li class="nav-item @Html.IsSelected(controller: Pages.Job.ControllerName)Route">
                    <a class="nav-link waves-effect" title="@Pages.Job.NavigationName" href="@Pages.Job.UrlDefault">
                        <i class="mdi mdi-ambulance md-24 mr-2"></i>
                        <span class="menu-title">@Pages.Job.NavigationName</span>
                    </a>
                </li>

            }

            <!--Doctor-->

            @if (User.IsInRole(Pages.Doctor.RoleName))
            {

                <li class="nav-item @Html.IsSelected(controller: Pages.Doctor.ControllerName)Route">
                    <a class="nav-link waves-effect" title="@Pages.Doctor.NavigationName" href="@Pages.Doctor.UrlDefault">
                        <i class="mdi mdi-human md-24 mr-2"></i>
                        <span class="menu-title">@Pages.Doctor.NavigationName</span>
                    </a>
                </li>
            }


            <!--DoctorGroup-->

            @if (User.IsInRole(Pages.DoctorGroup.RoleName))
            {
                <li class="nav-item @Html.IsSelected(controller: Pages.DoctorGroup.ControllerName)Route">
                    <a class="nav-link waves-effect" title="@Pages.DoctorGroup.NavigationName" href="@Pages.DoctorGroup.UrlDefault">
                        <i class="mdi mdi-human-greeting md-24 mr-2"></i>
                        <span class="menu-title">@Pages.DoctorGroup.NavigationName</span>
                    </a>
                </li>
            }



            <!-- Patient -->
            @if (User.IsInRole(Pages.Patient.RoleName))
            {


                if (usertype == "1")
                {

                    <li class="disabled nav-item @Html.IsSelected(controller: Pages.Patient.ControllerName)Route">
                        <a class="nav-link waves-effect" title="@Pages.Patient.NavigationName" href="@Pages.Patient.UrlDefault?id=@hospitalId&userTypeId=@usertype">
                            <i class="mdi mdi-human-male-female md-24 mr-2"></i>
                            <span class="menu-title">@Pages.Patient.NavigationName</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="disabled  nav-item @Html.IsSelected(controller: Pages.Patient.ControllerName)Route">
                        <a class="nav-link waves-effect" title="@Pages.Patient.NavigationName" href="@Pages.Patient.UrlDefault?period=@(DateTime.Now.ToString("MM-yyyy"))">
                            <i class="mdi mdi-human-male-female md-24 mr-2"></i>
                            <span class="menu-title">@Pages.Patient.NavigationName</span>
                        </a>
                    </li>
                }

            }


            <!-- Hospital -->
            @if (User.IsInRole(Pages.Hospital.RoleName))
            {
                if (usertype == "1")
                {

                    <li class="nav-item @Html.IsSelected(controller: Pages.Hospital.ControllerName)Route">
                        <a class="nav-link waves-effect" title="@Pages.Hospital.NavigationName" href="@Pages.Hospital.UrlDefaultType1?id=@hospitalId">
                            <i class="mdi mdi-home md-24 mr-2"></i>
                            <span class="menu-title">@Pages.Hospital.NavigationName</span>
                        </a>
                    </li>

                }
                else
                {


                    <li class="nav-item @Html.IsSelected(controller: Pages.Hospital.ControllerName)Route">
                        <a class="nav-link waves-effect" title="@Pages.Hospital.NavigationName" href="@Pages.Hospital.UrlDefault?period=@(DateTime.Now.ToString("MM-yyyy"))">
                            <i class="mdi mdi-home md-24 mr-2"></i>
                            <span class="menu-title">@Pages.Hospital.NavigationName</span>
                        </a>
                    </li>


                }


            }


            <!--Employee-->
            @if (User.IsInRole(Pages.Employee.RoleName))
            {
                if (usertype == "1")
                {
                    <li class="nav-item @Html.IsSelected(controller: Pages.Employee.ControllerName)Route">
                        <a class="nav-link waves-effect" title="@Pages.Employee.NavigationName" href="@Pages.Employee.UrlDefaultType1?id=@coordinatorId">
                            <i class="mdi mdi-human-female md-24 mr-2"></i>
                            <span class="menu-title">@Pages.Employee.NavigationName</span>
                        </a>
                    </li>
                }
                else
                {

                    <li class="nav-item @Html.IsSelected(controller: Pages.Employee.ControllerName)Route">
                        <a class="nav-link waves-effect" title="@Pages.Employee.NavigationName" href="@Pages.Employee.UrlDefault">
                            <i class="mdi mdi-human-female md-24 mr-2"></i>
                            <span class="menu-title">@Pages.Employee.NavigationName</span>
                        </a>
                    </li>


                }
            }



            <!--Membership-->
            @if (User.IsInRole(Pages.Membership.RoleName))
            {
                <li class="nav-item @Html.IsSelected(controller: Pages.Membership.ControllerName)Route">
                    <a class="nav-link waves-effect" title="@Pages.Membership.NavigationName" href="@Pages.Membership.UrlDefault">
                        <i class="mdi mdi-account-settings-variant md-24 mr-2"></i>
                        <span class="menu-title">@Pages.Membership.NavigationName</span>
                    </a>
                </li>
            }



            <!--Role-->
            @if (User.IsInRole(Pages.Role.RoleName))
            {
                <li class="nav-item @Html.IsSelected(controller: Pages.Role.ControllerName)Route" hidden>
                    <a class="nav-link waves-effect" title="@Pages.Role.NavigationName" href="@Pages.Role.UrlDefault">
                        <i class="mdi mdi-door-open md-24 mr-2"></i>
                        <span class="menu-title">@Pages.Role.NavigationName</span>
                    </a>
                </li>
            }


            <!--Role-->
            @if (User.IsInRole(Pages.Settings.RoleName))
            {
                <li class="nav-item @Html.IsSelected(controller: Pages.Settings.ControllerName)Route" >
                    <a class="nav-link waves-effect" title="@Pages.Settings.NavigationName" href="javascript:void(0)">
                        <i class="mdi mdi-apps md-24 mr-2"></i>
                        <span class="menu-title">Setting</span>
                    </a>

                </li>
            }

        </ul>
    </nav>
   @*gdfgfg*@

</aside>
<!-- Left Navigation End -->